{% load static %}
<footer class="brand-footer py-5 mt-5">
    <div class="container text-center">
        <h2 class="footer-title mb-4">Foodifly</h2>
        <ul class="list-inline footer-links text-uppercase mb-4">
            <li class="list-inline-item mx-3"><a href="#">Journal</a></li>
            <li class="list-inline-item mx-3"><a href="#">Our Terroir</a></li>
            <li class="list-inline-item mx-3"><a href="#">Shipping</a></li>
            <li class="list-inline-item mx-3"><a href="#">Sustainability</a></li>
        </ul>
        <p class="copyright text-uppercase mb-0">&copy; 2026 Foodifly. The Digital Epicurean.</p>
    </div>
</footer>