{% extends 'base.html' %}

{% load static %}

{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'css/product_detail.css' %}"
>

<link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@300;400;600&display=swap"
    rel="stylesheet"
>

{% endblock %}

{% block content %}

<div class="container-fluid px-lg-5 px-3 py-5">

    {% include "includes/alerts.html" %}

    <!-- BREADCRUMB -->

    <nav aria-label="breadcrumb" class="mb-4">

        <ol class="breadcrumb small text-uppercase fw-bold text-muted">

            <li class="breadcrumb-item">

                <a
                    href="{% url 'shop' %}"
                    class="text-decoration-none"
                >
                    Shop
                </a>

            </li>

            <li class="breadcrumb-item">
                {{ product.category.category_name }}
            </li>

            <li class="breadcrumb-item active">
                {{ product.name }}
            </li>

        </ol>

    </nav>

    <div class="row g-5">

        <!-- PRODUCT IMAGES -->

        <div class="col-lg-7">

            <div class="d-flex">

                <!-- THUMBNAILS -->

                <div class="thumbnail-stack me-3 d-none d-md-block">

                    {% for image in gallery_images %}

                    <img
                        src="{{ image.image.url }}"
                        class="img-fluid mb-2 thumb-image {% if forloop.first %}border-active{% endif %}"
                        alt="{{ product.name }}"
                    >

                    {% endfor %}

                </div>

                <!-- MAIN IMAGE -->

                <div class="main-image-container position-relative flex-grow-1 overflow-hidden">

                    <span class="badge-artisanal">
                        ARTISANAL SELECTION
                    </span>

                    <img
                        id="main-product-image"
                        src="{{ product.image.url }}"
                        class="img-fluid w-100 rounded-1 zoom-image"
                        alt="{{ product.name }}"
                    >

                </div>

            </div>

        </div>

        <!-- PRODUCT DETAILS -->

        <div class="col-lg-5">

            <h1 class="product-title mb-2">
                {{ product.name }}
            </h1>

            <!-- PRICE -->
<!-- PRICE -->

<div class="d-flex justify-content-between align-items-start mb-3">

   <div id="price-container">

    {% if offer %}

        <span
            id="offer-price"
            class="price-tag text-danger"
        >
            ₹{{ offer_price }}
        </span>

        <del
            id="original-price"
            class="text-muted ms-2"
        >
            ₹{{ selected_variant.salePrice }}
        </del>

        <br>

        <span
            id="offer-badge"
            class="badge bg-success"
        >
            {% if offer.discount_type == "PERCENTAGE" %}
                {{ offer.discount_value }}% OFF
            {% else %}
                ₹{{ offer.discount_value }} OFF
            {% endif %}
        </span>

    {% else %}

        <span
            id="offer-price"
            class="price-tag"
        >
            ₹{{ selected_variant.salePrice }}
        </span>

        <del
            id="original-price"
            class="text-muted ms-2"
            style="display:none;"
        ></del>

        <br>

        <span
            id="offer-badge"
            class="badge bg-success"
            style="display:none;"
        ></span>

    {% endif %}

</div>

    <div class="text-end">

        <div class="text-warning fs-5">

            {% for i in "12345" %}

                {% if forloop.counter <= product.averageRating %}
                    ★
                {% else %}
                    ☆
                {% endif %}

            {% endfor %}

        </div>

        <small class="text-muted">

            {{ product.averageRating|floatformat:1 }}

            ({{ product.reviewCount }} Reviews)

        </small>

    </div>

</div>

            <!-- STOCK -->

<div id="stock-status">

    {% if selected_variant.stock == 0 %}

        <span class="text-danger">
            Out Of Stock
        </span>

    {% elif selected_variant.stock < 5 %}

        <span class="text-warning">
            Only {{ selected_variant.stock }} left in stock!
        </span>

    {% else %}

        <span class="text-success">
            In Stock
        </span>

    {% endif %}

</div>

            <!-- DESCRIPTION -->

            <p class="product-description text-muted mb-4">

                {{ product.description }}

            </p>

            <!-- VARIANTS -->

            <div class="mb-4">

                <label
                    class="form-label fw-bold small text-uppercase"
                >
                    Select Weight
                </label>

                <div class="d-flex gap-2 flex-wrap">

                    {% for variant in variants %}
<button

    type="button"

    class="btn {% if variant.id == selected_variant.id %}btn-dark active{% else %}btn-outline-dark{% endif %} weight-btn variant-btn"

    data-variant-id="{{ variant.id }}"

    data-price="{{ variant.salePrice }}"

    data-stock="{{ variant.stock }}"

    data-wishlisted="{% if variant.id in wishlisted_variant_ids %}true{% else %}false{% endif %}"
>

    {{ variant.variant_value }}

    {% if variant.stock <= 0 %}

        <small class="d-block">

            Out Of Stock

        </small>

    {% endif %}

</button>

                    {% endfor %}

                </div>

            </div>

            <!-- CART + WISHLIST -->

           <div class="d-flex gap-2 mb-4">

    <!-- ADD TO CART -->

    <form
        method="POST"
        action="{% url 'add_cart' product.id %}"
        class="flex-grow-1"
    >

        {% csrf_token %}

        <input
            type="hidden"
            name="variant_id"
            id="selected-variant-id"
            value="{% if selected_variant %}{{ selected_variant.id }}{% endif %}"
        >

        {% if is_available %}

            <button
                type="submit"
                class="btn btn-dark add-to-cart-btn w-100"
            >

                Add To Cart

            </button>

        {% else %}

            <button
                type="button"
                class="btn btn-secondary w-100"
                disabled
            >

                Currently Unavailable

            </button>

        {% endif %}

    </form>

                <!-- WISHLIST -->
<form
    method="POST"
    action="{% url 'add_to_wishlist' %}"
>

    {% csrf_token %}

    <input
        type="hidden"
        name="product_id"
        value="{{ product.id }}"
    >

    <input
        type="hidden"
        name="variant_id"
        id="wishlist-variant-id"
        value="{{ selected_variant.id }}"
    >

<button
    type="submit"
    class="btn wishlist-btn px-3 h-100 {% if is_in_wishlist %}btn-danger{% else %}btn-outline-secondary{% endif %}">
    <i class="bi {% if is_in_wishlist %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
</button>

</form>
            </div>

            <!-- FEATURES -->

            <div
                class="features-row d-flex justify-content-between border-top pt-3"
            >

                <div class="small">

                    <i class="bi bi-leaf"></i>

                    <strong>ORGANIC</strong>

                    <br>

                    100% Natural

                </div>

                <div class="small">

                    <i class="bi bi-truck"></i>

                    <strong>FAST DELIVERY</strong>

                    <br>

                    24-48h Controlled

                </div>

            </div>

        </div>

    </div>

    <!-- REVIEWS + STORY -->

    <div class="row mt-5 pt-5">

        <!-- REVIEWS -->

        <div class="col-lg-6">

            <div
                class="d-flex justify-content-between align-items-center mb-4"
            >

                <h3 class="section-heading">
                    Customer Appreciation
                </h3>

{% if can_review %}
<a
    class="small text-decoration-none text-brown fw-bold"
    data-bs-toggle="collapse"
    href="#reviewForm"
    role="button"
    aria-expanded="false"
    aria-controls="reviewForm"
>
    WRITE A REVIEW
</a>
{% endif %}

        
</div>


{% if can_review %}

<div class="collapse mt-4" id="reviewForm">

<form action="{% url 'submit_review' product.id %}" method="POST">

    {% csrf_token %}

    <div class="mb-3">

        <div class="rating-stars mb-3">

            <label class="form-label">
                Rating
            </label>

            <div class="star-rating">

                <input type="radio" id="star5" name="rating" value="5"
                {% if user_review and user_review.rating == 5 %}checked{% endif %} required>
                <label for="star5">★</label>

                <input type="radio" id="star4" name="rating" value="4"
                {% if user_review and user_review.rating == 4 %}checked{% endif %}>
                <label for="star4">★</label>

                <input type="radio" id="star3" name="rating" value="3"
                {% if user_review and user_review.rating == 3 %}checked{% endif %}>
                <label for="star3">★</label>

                <input type="radio" id="star2" name="rating" value="2"
                {% if user_review and user_review.rating == 2 %}checked{% endif %}>
                <label for="star2">★</label>

                <input type="radio" id="star1" name="rating" value="1"
                {% if user_review and user_review.rating == 1 %}checked{% endif %}>
                <label for="star1">★</label>

            </div>

        </div>

    </div>

    <div class="mb-3">

        <label class="form-label">
            Review
        </label>

        <textarea
            name="review"
            rows="4"
            class="form-control"
            required
        >{{ user_review.review|default:'' }}</textarea>

    </div>

    <button
        type="submit"
        class="btn btn-dark"
    >
        {% if user_review %}
            Update Review
        {% else %}
            Submit Review
        {% endif %}
    </button>

</form>

</div>

{% endif %}

           {% for review in reviews %}

<div class="review-card p-4 mb-3">

    <div class="d-flex justify-content-between">

        <div>
            <strong>
                {{ review.user.first_name }}
            </strong>
        </div>

<div class="text-warning">

    {% for i in "12345" %}

        {% if forloop.counter <= review.rating %}
            ★
        {% else %}
            ☆
        {% endif %}

    {% endfor %}

</div>

    </div>

    <p class="mt-3 mb-2">
        {{ review.review }}
    </p>

    <small class="text-muted">
        {{ review.created_at|date:"d M Y" }}
    </small>

</div>

{% empty %}

<p class="text-muted">
    No reviews yet.
</p>

{% endfor %}


            </div>

            

        <!-- STORY -->

        <div class="col-lg-6">

            <div class="story-box p-5 text-white h-100">

                <h6
                    class="text-uppercase ls-wide small mb-4"
                >

                    The Secret of the Cave

                </h6>

                <p class="display-6 fst-italic">

                    {{ product.description }}

                </p>

            </div>

        </div>

    </div>

</div>

<!-- RELATED PRODUCTS -->

{% if related_products %}

<section class="related-products-section py-5">
    
<div class="container-fluid px-lg-5 px-3">

        <div class="text-center mb-5">

            <h2 class="related-title">
                You May Also Like
            </h2>

        </div>

      <div class="row g-4 justify-content-center">

    {% for related in related_products %}

    <div class="col-md-6 col-lg-3">

        <div class="related-card h-100">

            <a href="{% url 'product_detail' related.slug %}"
               class="related-image-wrapper">

                <img
                    src="{{ related.image.url }}"
                    class="img-fluid related-image"
                    alt="{{ related.name }}"
                >

            </a>

            <div class="related-content">

                <h5 class="related-product-title">

                    {{ related.name }}

                </h5>

                <p class="related-description">

                    {{ related.description|truncatewords:10 }}

                </p>

                <div class="related-price">

                    ₹{{ related.starting_price }}

                </div>

            </div>

        </div>

    </div>

    {% endfor %}

</div>
    </div>

</section>

{% endif %}

<script src="{% static 'js/product_detail.js' %}"></script>

{% endblock %}